[user]
	email = 57421573+ddelrio95@users.noreply.github.com
	name = Dario
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
